<!DOCTYPE html>
<html lang="<%= planner_config.config[:locale] %>>">
<head>
  <meta charset="UTF-8">
  <style>
      body {
          margin: 0;
          padding: 0;
      }

      .page {
          width: <%= planner_config.config[:document][:layout][:dimensions][:width] %>;
          height: <%= planner_config.config[:document][:layout][:dimensions][:height] %>;
          margin: 0;
          padding: 0;
      }

      .page-break {
          display: block;
          clear: both;
          page-break-after: always;
      }

      .annual-table {
          width: 100%;
          height: 100%;
      }

      .annual-table td {
          width: 6mm;
          text-align: center;
      }

      <%= planner_config.config[:document][:styles] %>
  </style>
</head>

<body>
<% text_documents.each do |doc| %>
  <%= doc.content %>
<% end %>
</body>
</html>